body{
    background-image: url(https://cnwebsite.blob.core.windows.net/files/2020/07/freddykrueger-pelicula-portada.jpg);
    background-size: 100%;

}
#t{
    text-align: left;
    color: aliceblue;
}
#t2{
    text-align: left;
    color: aliceblue;
}
.rescate a{
    color: rgb(255, 255, 255);
    text-align: center;
}
#fin a{
    color: aliceblue;
}